---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'

interface CardProps {
  name: string
  description: string
  html_url: string
  owner: {
    login: string
    avatar_url: string
    followers: string
  }
}

const request = await fetch('https://api.github.com/users/CarlosLonghi/repos')

const data = await request.json()
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Github Repositories</h1>

    <section>
      {
        data.map((repo: CardProps) => (
          <Card
            href={repo.html_url}
            title={repo.name}
            body={repo.description}
          />
        ))
      }
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 16px;
    max-width: 70ch;
  }
  h1 {
    font-size: 40px;
    color: #c0c0c0;
    font-weight: 800;
    margin: 0;
    text-align: center;
    margin-bottom: 18px;
  }
  section {
    display: grid;
    gap: 16px;
  }
</style>
